<div id="framework-snippet">
  <p>framework</p>
  <div id="root"></div>

  {% if template.name == 'product' %}
    <div
      id="add-to-cart-button"
      data-variant-id="{{ product.first_available_variant.id }}"
      data-product-title="{{ product.title }}"
    ></div>
  {% endif %}

  {% comment %}
    <script type="module" src="{{ 'vite-client.js' | asset_url }}" defer></script>
    <script type="module" src="{{ 'vite-counter.js' | asset_url }}" defer></script>

    {% if template.name == 'product' %}
      <script type="module" src="{{ 'vite-add-to-cart-button.js' | asset_url }}" defer></script>
    {% endif %}
  {% endcomment %}
</div>

{% comment %} load the script just when it is in view - like lazyload {% endcomment %}
<script>
  const scripts = [
    "{{ 'vite-client.js' | asset_url }}",
    "{{ 'vite-counter.js' | asset_url }}",
    "{{ 'vite-newsletter.js' | asset_url }}",
  ];

  {% if template.name == 'product' %}
    scripts.push("{{ 'vite-add-to-cart-button.js' | asset_url }}");
  {% endif %}

  console.log(scripts);

  const observer = new IntersectionObserver((entries, observer) => {
    if(entries[0].isIntersecting) {
      for(const script of scripts) {
        const scriptElement = document.createElement('script');
        scriptElement.setAttribute("type", "module");
        scriptElement.setAttribute("src", script);
        scriptElement.setAttribute("defer", "defer");

        document.body.appendChild(scriptElement);
      }
      console.log("scripts added");
      observer.disconnect();
    }
  }, { threshold: 1 });

  observer.observe(document.querySelector("#framework-snippet"));
</script>
