<div id="framework-snippet">
  <link rel="stylesheet" href="{{ 'newsletter-custom.css' | asset_url }}">
  <div id="newletter-root"></div>
</div>

{% comment %} load the script just when it is in view - like lazyload {% endcomment %}
<script>
  const scripts = [
    "{{ 'vite-client.js' | asset_url }}",
    "{{ 'vite-newsletter.js' | asset_url }}",
  ];


  {% if template.name == 'product' %}
    scripts.push("{{ 'vite-add-to-cart-button.js' | asset_url }}");
  {% endif %}


  const observer = new IntersectionObserver((entries, observer) => {
    if(entries[0].isIntersecting) {
      for(const script of scripts) {
        const scriptElement = document.createElement('script');
        scriptElement.setAttribute("type", "module");
        scriptElement.setAttribute("src", script);
        scriptElement.setAttribute("defer", "defer");

        document.body.appendChild(scriptElement);
      }
      console.log("scripts added");
      observer.disconnect();
    }
  }, { threshold: 1 });

  observer.observe(document.querySelector("#framework-snippet"));
</script>

<script src="{{ 'vite-newsletter.js' | asset_url }}" type="module" defer></script>
